@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "../pages/Pets/styles.css";

:root {
  --verdeForte: #234d20;
  --verdeMedio: #36802d;
  --verdeFraco: #77ab59;
  --verdeMuitoFraco: #c9df8a;
  --cinza: #f0f7da;
  --branco: #fff;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#selects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#selects h1 {
  font-size: 2rem;
  text-align: center;
  display: none;
  visibility: hidden;
}

.options .botaoRegistrarPet {
  margin-top: 0.5rem;
}

.wpp {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.phone-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}

textarea {
  resize: none;
  width: 100%;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cinza);
  font-family: "Roboto", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  color: #000;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.title .number {
  font-size: 50px;
  font-weight: 400;
}

#header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: var(--verdeFraco);
  justify-content: space-around;
}

#header img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

nav li {
  font-size: 18px;
  color: #fff;
}

.btn-modal {
  background-color: var(--verdeForte);
  color: var(--branco);
  width: 100%;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
}

.hidden {
  display: none;
  visibility: hidden;
}

.modal {
  visibility: visible;
  font-size: 18px;
  color: #000;
  z-index: 10;
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: 0 auto;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 40vw;
}

.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: var(--verdeForte);
}

.modal-body {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  padding: 0 25px;
  margin: 2rem 0;
}

.modal-footer {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 10px 25px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.close-modal {
  background-color: var(--verdeForte);
  border: none;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 5px;
}

.nomePet {
  font-size: 30px;
  background-color: var(--verdeFraco);
  position: absolute;
  bottom: 20%;
  left: 35%;
  padding: 10px 16px;
  border-radius: 10px;
  color: var(--branco);
}

#LoginScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: #000;
  background-color: #fff;
}

#login .google-icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-left: 10px;
}

#register {
  wight: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  padding: 8px;
  color: #000;
}

#userDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#userDetails img {
  margin-top: 1rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

#display-image-lost,
#display-image-found {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-size: cover;
}

.botaoLogado,
.cadastraPet {
  display: none;
  visibility: hidden;
}

.name,
.email {
  display: none;
  visibility: hidden;
}

#logout {
  display: block;
  margin: 1rem auto;
  background-color: rgb(179, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 8px;
}

.cardsAll {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 2rem;
  width: 55vw;
}

.cardsLost,
.cardsFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 0;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #36802d;
  color: #fff;
  border-radius: 5%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  width: 100%;
  position: relative;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.lixeira {
  width: 60px;
}

.card-image {
  display: block;
  width: 450px;
  height: 450px;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card p {
  font-size: 1.5rem;
  margin-left: 1rem;
  word-break: break-word;
}

@media (max-width: 880px){
  .cardsAll{
    display: block;
  }

}

@media (max-width: 768px) {
  .options {
    flex-direction: column;
  }
}

@media (max-width: 520px){
  .logo img{
    display: none;
  }
}